<p id="notice"><%= notice %></p>

<h1>Apply Activities</h1>

<table>
  <thead>
    <tr>
      <th>Open</th>
      <th>Activity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apply_activities.each do |apply_activity| %>
      <tr>
        <td><%= apply_activity.open_id %></td>
        <td><%= apply_activity.activity_id %></td>
        <td><%= link_to 'Show', apply_activity %></td>
        <td><%= link_to 'Edit', edit_apply_activity_path(apply_activity) %></td>
        <td><%= link_to 'Destroy', apply_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apply Activity', new_apply_activity_path %>
